[package]
name = "dbpulse"
version = "0.2.5"
authors = ["Nicolas Embriz <nbari@tequila.io>"]
description = "command line tool to monitor database performance"
documentation = "https://github.com/nbari/dbpulse/blob/master/README.md"
homepage = "https://github.com/nbari/dbpulse"
repository = "https://github.com/nbari/dbpulse"
readme = "README.md"
keywords = ["mysql", "monitor", "healthcheck", "database", "alerts"]
categories = ["command-line-utilities", "command-line-interface"]
license-file = "LICENSE"
edition = "2018"

[dependencies]
clap = "2"
mysql = "16.0"
rand = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slack-hook = "0.7"
uuid = { version = "0.7", features = ["v4"] }
